ELASTIC_HOST=http://localhost:9200
INDEX_NAME=threat-indicators

ABUSEIPDB_API_KEY=votre_cle_abuseipdb
ABUSECH_API_KEY=votre_cle_abusech

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre.email@gmail.com
SMTP_APP_PASSWORD=votre_mot_de_passe_application
ALERT_EMAIL_TO=votre.email@gmail.com

TELEGRAM_BOT_TOKEN=votre_token_bot
TELEGRAM_CHAT_ID=votre_chat_id